# Основы обработки данных 
## Фильтрация, отбор и извлечение

In [8]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
series_obj = Series(np.arange(8), index=['ряд 1', 'ряд 2', 'ряд 3', 'ряд 4', 'ряд 5', 'ряд 6', 'ряд 7', 'ряд 8'])
series_obj

ряд 1    0
ряд 2    1
ряд 3    2
ряд 4    3
ряд 5    4
ряд 6    5
ряд 7    6
ряд 8    7
dtype: int64

In [9]:
series_obj['ряд 7']

6

In [11]:
series_obj[[0,7]]

ряд 1    0
ряд 8    7
dtype: int64

In [17]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)), index = ['ряд 1', 'ряд 2', 'ряд 3', 'ряд 4', 'ряд 5', 'ряд 6'], 
columns = ['столбец 1', 'столбец 2', 'столбец 3', 'столбец 4', 'столбец 5', 'столбец 6'])
DF_obj

       столбец 1  столбец 2  столбец 3  столбец 4  столбец 5  столбец 6
ряд 1   0.870124   0.582277   0.278839   0.185911   0.411100   0.117376
ряд 2   0.684969   0.437611   0.556229   0.367080   0.402366   0.113041
ряд 3   0.447031   0.585445   0.161985   0.520719   0.326051   0.699186
ряд 4   0.366395   0.836375   0.481343   0.516502   0.383048   0.997541
ряд 5   0.514244   0.559053   0.034450   0.719930   0.421004   0.436935
ряд 6   0.281701   0.900274   0.669612   0.456069   0.289804   0.525819

In [20]:
DF_obj.loc[['ряд 1', 'ряд 2'], ['столбец 5', 'столбец 2']]

       столбец 5  столбец 2
ряд 1   0.411100   0.582277
ряд 2   0.402366   0.437611

# Нарезка

In [21]:
series_obj['ряд 3':'ряд 7']

ряд 3    2
ряд 4    3
ряд 5    4
ряд 6    5
ряд 7    6
dtype: int64

# Скалярное сравнение

In [23]:
DF_obj < .2

       столбец 1  столбец 2  столбец 3  столбец 4  столбец 5  столбец 6
ряд 1      False      False      False       True      False       True
ряд 2      False      False      False      False      False       True
ряд 3      False      False       True      False      False      False
ряд 4      False      False      False      False      False      False
ряд 5      False      False       True      False      False      False
ряд 6      False      False      False      False      False      False

# Скалярная фильтрация

In [24]:
series_obj[series_obj > 6]

ряд 8    7
dtype: int64

# Скалярное присваивание

In [27]:
series_obj['ряд 1', 'ряд 5', 'ряд 8',] = 8
series_obj

ряд 1    8
ряд 2    1
ряд 3    2
ряд 4    3
ряд 5    8
ряд 6    5
ряд 7    6
ряд 8    8
dtype: int64